* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/img/fondo-pag-speciali.jpg");
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-logo {
  display: flex;
  justify-content: center;
  height: 185px;
  background-color: white;
}

nav {
  display: flex;
  height: 70px;
  background-color: #99e992;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul a {
  margin: 0px 20px;
  color: white;
  font-weight: bold;
}

nav ul a:hover {
  color: darkblue;
  text-decoration: underline;
}

main h2 {
  color: darkblue;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-size: 2rem;
}

main .paste {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
}

main .paste .pasta {
  margin: 30px;
}

main .paste .pasta img {
  width: 100%;
}

